.inputcontrol-container {
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  min-height: 600px;
  min-width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputcontrol-bkg {
  height: 90%;
  width: 90%;
  max-width: 500px;
  background-color: #575757;
}