/* colors default */
:root {
  --grn-light:#26FF13;
  --ylw-light:#FFCB14;
  --red-light:#FF1010;
}

.inputcontrol-container {
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputcontrol-bkg {
  height: 90%;
  width: 90%;
  max-width: 450px;
  background-color: #575757;
  padding: 10px;
}

.inputcontrol-painel {
  width: 100%;
  height: 100%;
  background-color: #252525;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.inputcontrol-header {
  color: white;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid #575757;
}

.header-identy {
  font-size: 35px;
}

.header-equip {
  font-size: 14px;
}

.inputcontrol-index {
  display: flex;
  flex-direction: row;
  padding: 10px 0px;
  border-bottom: 1px solid #575757;
}

.index-oee {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.index-oee-circle {
  height: 70px;
  width: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}

.index-value-oee {
  font-size: 22px;
}

.index-value-type{
  font-size: 13px;
  color: #D9D9D9;
}

.index-others {
  display: flex;
  flex-direction: row;
  flex: 2;
  justify-content: center;
  align-items: center;
}

.index-sub{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.index-sub p:nth-child(1) {
  font-size: 20px;
}

.index-sub p:nth-child(2) {
  font-size: 13px;
  color: #D9D9D9;
}

.inputcontrol-infos {
  color: white;
  display: flex;
  flex-direction: row;
  padding: 10px 0px;
  border-bottom: 1px solid #575757;
}

.inputcontrol-infos div p:nth-child(1) {
  font-size: 13px;
}

.inputcontrol-infos div:nth-child(1) {
  flex: 1;
  text-transform: capitalize;
}

.inputcontrol-infos div:nth-child(2) {
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputcontrol-products {
  color: white;
  padding: 10px 0px;
  border-bottom: 1px solid #575757;
}

.inputcontrol-products thead {
  text-transform: uppercase;
  font-size: 12px;
  color: #D9D9D9;
}

.prod_inputctrl {
  font-size: 12px;
}

.goal_inputctrl {
  font-size: 16px;
}

.real_inputctrl {
  font-size: 16px;
}

.inputcontrol-products table {
  border-collapse: separate;
  border-spacing: 10px;
}

.btn_inputctrl {
  width: 100%;
  text-align: center;
}

.inputcontrol_stops {
  flex: 1;
  overflow: auto;
  padding: 10px 0px;
}

.header_stops_inputctrl {
  width: 100%;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
}

.container_stops_inputctrl {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  padding: 10px;
}

.container_stops_inputctrl button {
  padding: 10px 0px;
  background-color: #c2c2c2;
  text-transform: capitalize;
  border-radius: 5px;
  border: none;
  font-size: 12px;
  font-weight: bold;
}

/* stylye component OptionProduct */
.optionProd-bkg {
  background-color: #EAEAEA;
  padding: 15px 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
}

.optionProd-bkg button {
  width: 100%;
  padding: 15px 10px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  box-shadow: 1px 2px 5px rgba(0,0,0,0.7);
}

.optionProd-bkg button:nth-child(1) {
  margin-bottom: 10px;
}

.optionProd-bkg button:nth-child(2) {
  margin-bottom: 40px;
}


/* stylye component AddProduct*/
.addProd-bkg {
  background-color: #EAEAEA;
  padding: 15px 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
}

.addProd-bkg button {
  width: 100%;
  padding: 15px 10px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  box-shadow: 1px 2px 5px rgba(0,0,0,0.7);
}

.addProd-bkg button:nth-child(1) {
  margin-bottom: 40px;
}




/* selecting colors */
/* circle */
.circle-grn {
  border: 4px solid var(--grn-light);
}

.circle-ylw {
  border: 4px solid var(--ylw-light);
}

.circle-red {
  border: 4px solid var(--red-light);
}

/* font */
.font-grn {
  color: var(--grn-light);
}

.font-ylw {
  color: var(--ylw-light);
}

.font-red {
  color: var(--red-light);
}

/* buttons */
.btn-inputctrl {
  width: 60px;
  padding: 7px 0px;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.btn-ok {
  background-color: #3f7c39;
}

.btn-nok {
  background-color: #7c3939;
  color: #EAEAEA;
}

.btn-gray {
  background-color: #c2c2c2;
}

.btn_add_prod {
  width: 80px;
  padding: 5px 0px;
  font-size: 18px;
  background-color: transparent;
  border-radius: 50px;
  border: 1px solid #575757;
  color: white;
}